<form [formGroup]=" loginForm">
    <p-card header="Login" [style]="{width :'360px'}">
        <p class="m-0">
            <div class="field">
                <label for="email">Email</label>
                <input type="text" 
                 pInputText formControlName="email" 
                 class="w-full" 
                 name="email" 
                 placeholder="Type your Email" 
                 
                 />
            </div>

            <small *ngIf="email.invalid && (email.dirty || email.touched)" 
            class="block p-error">
                <div *ngIf="email.errors?.['required']">Email is required</div>
                <div *ngIf="email.errors?.['email']">Email should be valid</div>
            </small>

            <div class="field">
                <label for="password">Password</label>
                <input type="password"
                pInputText formControlName="password" 
                 class="w-full" 
                 name="password" 
                 placeholder="Type your Password" />

                 <small *ngIf="password.invalid && (password.dirty || password.touched)" 
            class="block p-error">
                <div *ngIf="password.errors?.['required']">Password is required</div>
            </small>

            </div>
            <button [disabled]="loginForm.invalid" style="background-color:rgba(149, 97, 97, 1); color: aliceblue; border-radius: 20px;width:320px; height:50px;">
               Login
               </button>
                 <div class="mt-2">
                Not a member? <a style="color: rgba(149, 97, 97, 1);" router routerLink="/register">register here</a>
            </div>

    </p-card>
</form>
